# top-most EditorConfig file
root = true
[*]
end_of_line = lf
charset = utf-8

[*.{ts,html,js}]
indent_style = space
indent_size = 2

[{package.json, package-lock.json}]
indent_style = space
indent_style = 2